{% extends "base.html" %}
{% block content %}
  <div class="email-description container">
    {% if email_confirmed %}
      <h2 class="email-ver">Your e-mail is confirmed!</h2>
      <a href="{% url 'index' %}" class="button1">start</a>
    {% else %}
      <h2 class="email-ver">Your code is wrong or expired...</h2>
      <div class="sign-form-wrapper container">
        <form class="sign-form register-form"
              method="post" action="{% url 'email_verification' %}">
          {% csrf_token %}
          <button type="submit" class="button1 register-button">send code</button>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock content %}