{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="vinyls-wrapper small-container">
    <div class="vinyls">
      <ul class="vinyl-row">

        {% for vinyl in vinyls %}
          <li class="vinyl-li">
            <div class="li-container">

              {% if not vinyl.images.exists %}
                <a href="#">
                  <img src="{% static 'img/null_image.png' %}"
                       alt="{{ vinyl.title }} image" class="vinyl-img">
                </a>
              {% else %}

                {% for image in vinyl.images.all|slice:":1" %}
                  <a href="#">
                    <div class="vinyl-img-wrapper">
                      <img src="{{ image.image.url }}"
                           alt="{{ vinyl.title }} image" class="vinyl-img">
                      <img src="{% static 'img/vinyl-center.png' %}"
                           alt="center" class="vinyl-center">

                      {% if vinyl.tags.exists %}
                        {% for tag in vinyl.tags.all|slice:":1" %}
                          <div class="vinyl-index-tag">
                            <span>{{ tag }}</span>
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  </a>
                {% endfor %}
              {% endif %}

              <a href="#"><span class="vinyl-title">{{ vinyl.title }}</span></a>
              <div class="vinyl-index-order">
                <span class="vinyl-index-price">{{ vinyl.price }}$</span>
                <div class="button-wrapper index-button-wrapper">
                  <a href="#" class="index-buy-button">buy</a>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock content %}