{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="vinyls-wrapper small-container">
    <div class="vinyls">
      <ul class="vinyl-row">

        {% for vinyl in vinyls %}
          <li class="vinyl-li">
            <div class="li-container">

              {% if not vinyl.images.exists %}
                <a href="{{ vinyl.get_absolute_url }}">
                  <img src="{% static 'img/null_image.png' %}"
                       alt="{{ vinyl.title }} image" class="vinyl-img">
                </a>
              {% else %}

                {% for image in vinyl.images.all|slice:":1" %}
                  <a href="{{ vinyl.get_absolute_url }}">
                    <div class="vinyl-img-wrapper">
                      <img src="{{ image.image.url }}"
                           alt="{{ vinyl.title }} image" class="vinyl-img">
                      <img src="{% static 'img/vinyl-center.png' %}"
                           alt="center" class="vinyl-center">

                      <div class="tag-wrapper">
                        {% if vinyl.tags.exists %}
                          {% for tag in vinyl.tags.all|slice:":1" %}
                            <div class="vinyl-index-tag">
                              <span>{{ tag }}</span>
                            </div>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  </a>
                {% endfor %}
              {% endif %}

              <a href="{{ vinyl.get_absolute_url }}"><span class="vinyl-title">{{ vinyl.title }}</span></a>
              <div class="vinyl-index-order">

                {% if not vinyl.discount.price_with_discount %}
                  <span class="vinyl-index-price">${{ vinyl.price }}</span>
                {% else %}
                  <div class="index-prices-wrapper">
                    <span class="vinyl-index-price__new-price">${{ vinyl.discount.price_with_discount }}</span>
                    <span class="vinyl-index-price__old-price">${{ vinyl.price }}</span>
                  </div>
                {% endif %}

                <a href="{{ vinyl.get_absolute_url }}" class="index-buy-button">
                  <div class="button-wrapper index-button-wrapper">buy</div>
                </a>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock content %}