{% load static %}

<header>
  <div class="header container">
    <div class="header-wrapper">
      <img src="{% static "img/vinylin-logo.svg" %}" alt="header-logo"
           class="header-logo">
      <div class="header_elements">
        <a href="{% url 'index' %}" class="vinylin-header-link">
          <h1 class="vinylin-header">VINYLIN</h1>
        </a>
        <a href="#" class="header-cart">
          <img src="{% static "img/cart.svg" %}" alt="header-cart"
               class="header-cart">
        </a>
        {% if user.is_email_verified == False %}
          <div class="email-status-desc">
            <a href="{% url 'email_verification' %}">Verify your e-mail to make orders</a>
          </div>
        {% endif %}
      </div>
      <div class="header-bottom-border"></div>
    </div>
  </div>
</header>

<nav>
  <div class="nav-wrapper container">
    <div class="sign-section">

      <ul class="sign-ul">
        {% if not user.is_authenticated %}
          <li class="sign-li">
            <div class="button-wrapper-sign">
              <a class="button1 sign-link" href="{% url 'sign_in' %}">sign-in</a>
            </div>
          </li>

          <li class="sign-li">
            <div class="button-wrapper-sign">
              <a class="button1 register-link" href="{% url 'register' %}">register</a>
            </div>
          </li>

        {% else %}

          <li class="signed-li">
            <div class="button-wrapper-sign">
              <a href="{{ user.get_absolute_url }}" class="button1">profile</a>
            </div>
          </li>
          </ul>
        {% endif %}
    </div>
    {% if user.is_email_verified == False %}
      <div class="email-status-desc">
        <a href="{% url 'email_verification' %}">Verify your e-mail to make orders</a>
      </div>
    {% endif %}
  </div>
</nav>